/* page layout */
body{
    background-color: #111;
    padding: 1em;
    margin: 1em;
}

#panel_main{
    float: left;
}

#panel_ca{
    float: left;
}

#panel_range{
    float: left;
}

#panel_view{
    float: left;
}

#panel_control{
    clear: both;
}


/* block appearance */
div.ctrl{
    border: 1px #000 solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 0em 0em 5px #abf;
}


/* UI element appearance */
thead th{
    border-bottom: 2px black solid;
}

input[type="text"]{
    border: 2px black solid;
    background-color: #222;
    font-family: monospace;
    color: white;
    display: block;
    border-radius: 5px;
    margin-bottom: 1em;
    text-align: center;
}

.rgroup, button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
    background-color: #222;
}

button{
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #aaa;
    padding-left: 10px;
    padding-right: 10px;
}

button:active{
    color: #fff;
    text-shadow: 0em 0em 0.2em #ddf,0em 0em 0.8em #44f,0em 0em 1em #4af;
}


input[type="radio"]{
    -webkit-appearance: none;
    
    width: 60px;
    height: 25px;
    
    font-weight: bold;
    
    border-left: 1px solid black;
    
    text-align: center;
    vertical-align: middle;
    color: #aaa;
    line-height: 25px;
    
    margin: 0px;
}

input[type="radio"]:first-child{
    border-left: none;
}

input[type="radio"]:checked{
    color: #fff;
    text-shadow: 0em 0em 0.2em #ddf,0em 0em 0.8em #44f,0em 0em 1em #4af;
}


input[type="range"]{
    -webkit-appearance: none;
    background-color: #222;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    display:block;
    cursor:move;
}

input[type="range"] + span{
    text-align: center;
    display: block;
    margin-bottom: 1em;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    background-color: #aaa;
    height: 15px;
    width: 15px;
}

input[type="range"]::-webkit-slider-thumb:active{
    background-color: #fff;
}

